= wrap_layout :application do
  - if current_page.data.cover
    - image_url = image_path(current_page.data.cover)
  .cover
    .cover-inner
      %h1.cover-title
        Museum
        %br
        Catalogues
        %br
        %span.diminutive in the
        %br
        Digital Age
      %h2.ion-power.cover-icon
      %h2.cover-subtitle
        A Final Report on the Getty&#160;Foundation’s
        %br
        Online Scholarly Catalogue Initiative
  .cover-copy
    .cover-copy-inner
      = yield
  .cover-colophon
    .cover-colophon-inner
      .colophon-text
        Published by the Getty Foundation and licensed under a <a href="#{data.book.license.url}" rel="license">#{data.book.license.type}</a>, except where otherwise noted.
        %p
          = link_to "Source Code", "#{data.book.repository_url}", { target: "_blank" }, { class: "ion-social-github" }
          %span &#124;
          = link_to "Privacy", "http://www.getty.edu/legal/privacy.html", { target: "_blank" }
          %span &#124;
          = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", { target: "_blank" }
      .colophon-logo
        %a{:href => "#{data.book.publisher.url}", :target => "_blank", :title => "#{data.book.publisher.name}" }
          <svg version="1.1" id="Getty_Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-557 66.6 612.4 588.4" style="enable-background:new -557 66.6 612.4 588.4;" xml:space="preserve"> <path class="st0" d="M10.9,317.8c15.5,0,31.6-0.7,44.4-2.3V186.4c-10.5-3.3-34.2-4.6-51-4.6h-70.5c0,68.8-0.3,91.5,1.3,136.3"/> <path class="st0" d="M-513.5,439.6h133c7.2,0,42.8,1.6,50.7-4.6l-5.9,30.6c9.2,5.3,35.9,4.6,49.1,4.6h122.8c7.2,0,42.8,1.6,50.7-4.6 l-6.3,32.6c-4.6-7.6-32.9-7.6-42.8-7.6h-44.1c-2,12.5-3.3,62.2-3.3,118.8c0,16.1,0,30.9,0,44.8h169.5c2.6-11.2,3.3-25.7,3.3-59.6 v-55.3L-102,438.6c-14.2-22.1-30-46.7-39.8-54h53c-0.7,10.5,10.2,28,20.4,44.1l57.3,89.2c0,0,25.7-39.8,51.7-79.3 c4.9-7.6,10.2-16.1,14.8-24.7v-74.7c-14.5-0.7-33.9-0.3-48.7-0.3h-121.2c4.3-24.7,7.9-81,7.9-171.5c0-46.7-0.3-79-1.3-100.7h-335.2 c-33.3,30.6-53.7,74.7-53.7,129.7c0,116.9,74.1,201.8,201.5,201.8c50.4,0,86.9-15.8,100.4-23c1.3-22.7,2.6-131.4-4-144.9h45.1 c-4,9.9-4.3,58.6-4.3,74.7c0,15.8,1.3,81.6,1.3,81.6c-13.5,6.3-71.4,28.3-137,28.3c-183.5,0.3-244.1-114.5-244.1-205.4 c0-58.9,23.7-107.3,60.9-142.9h-80v370.7C-545.1,440.3-524.7,439.6-513.5,439.6"/> <path class="st0" d="M16.5,161.1c13.2,0,28,0.3,38.5-1.3V66.6H-64.5c-1.3,30.6-2,66.2-2,94.5"/> <path class="st0" d="M-2,540v55c0,33.9,1,48.4,3,59.6h54V452.4"/> <path class="st0" d="M-248.5,609.8c0-56.6-0.3-106.3-2.6-118.8H-291c-17.1,0-37.5-0.3-51.4,7.6l5.9-30.6c-4.9-7.6-32.6-7.6-42.8-7.6 h-45.1c-2,12.5-3.3,62.2-3.3,118.8c0,29.3,0.3,54.3,0.3,75.1H-249C-248.5,641.1-248.5,626.3-248.5,609.8"/> <path class="st0" d="M-465.8,579.5c0-56.6-0.3-106.3-3-118.8h-48.7c-12.5,0-27-0.3-39.5,3V655h90.9 C-465.8,633.5-465.8,608.5-465.8,579.5"/></svg>
