= wrap_layout :application do
  - if current_page.data.cover
    - image_url = image_path(current_page.data.cover)
  .cover
    .cover-inner
      %h1.cover-title
        Museum
        %br
        Catalogues
        %br
        %span.diminutive in the
        %br
        Digital Age
      %h2.ion-power.cover-icon
      %h2.cover-subtitle
        A Final Report on the Getty&#160;Foundation’s
        %br
        Online Scholarly Catalogue Initiative
  .cover-copy
    .cover-copy-inner
      = yield
  .cover-colophon
    .cover-colophon-inner
      .colophon-text
        Published by the Getty Foundation, the text of this report is licensed under a <a href="#{data.book.license.url}" rel="license">#{data.book.license.type}</a>. Images are all rights reserved.
        %p
          #{data.book.rights}
          %br
          = link_to "Source Code", "#{data.book.repository_url}", { target: "_blank" }, { class: "ion-social-github" }
          %span &#124;
          = link_to "Privacy", "http://www.getty.edu/legal/privacy.html", { target: "_blank" }
          %span &#124;
          = link_to "Terms of Use", "http://www.getty.edu/legal/copyright.html", { target: "_blank" }
      .colophon-logo
        %a{:href => "#{data.book.publisher.url}", :target => "_blank", :title => "#{data.book.publisher.name}" }
          <svg><switch><use xlink:href="#getty-logo"></use><foreignObject><img src="assets/images/getty-logo.png" alt="The Getty logo" /></foreignObject></switch></svg>
          .print-logo
            <img src="assets/images/getty-logo.png" alt="The Getty logo" />
