---
title: Nine Lessons Learned
sort_order: 3
layout: grid
type: grid
---

{::options parse_block_html="true" /}

<div class="grid">
<div class="grid-content" id="lesson-1-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 1

## Online Publishing is Authoritative

<blockquote class="pull-quote" markdown="0">
  <div class="video-closer ion-close-circled"></div>
  <div class="video">
    <img src="/assets/images/videocard_awheelock.jpg" id="poster" alt="Arthur K. Wheelock, Jr. (NGA)" />
    <iframe src="https://www.youtube.com/embed/p9jJNIJift4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quote">
    <h3><em>“Ironically, through the digital age we can come back to an understanding of connoisseurship”</em></h3>
    <p class="attribution">Arthur Wheelock, Jr., Curator of Northern Baroque Paintings, National Gallery of Art</p>
  </div>
</blockquote>

At the beginning of the Online Scholarly Catalogue Initiative (OSCI), the validity of publishing scholarly content online was not universally agreed upon. Would some readers, the OSCI cohort wondered, only associate internet publishing with personal opinion and transient content that might quickly disappear? To address such concerns, the OSCI participants agreed that the goal of the initiative should be to produce catalogues that met all the expectations of sound museum scholarship:

### Rigorous Research

Readers still expect essays and entries authored by subject specialists. The OSCI catalogues demonstrate that this scholarship becomes even more meaningful when accompanied by material unique to the museum and typically inaccessible to those outside the institution, such as conservation documentation or archival materials.

### Permanence

Scholars, in particular, want to know that an online resource will be there in the future, just as a book remains on the shelf. If a catalogue is updated or changed, they want this to be indicated as clearly as possible. They also want to know that the catalogue will be archived and preserved for the future. (See also [Lesson 9: Think Sustainably.](#lesson-9){: .grid-trigger-link})

### Scholarly Conventions

>### *“The means of production and display may have changed, but it’s a peer reviewed scholarly catalogue with all that that implies.”*
>
>Judy Metro, Editor in Chief, National Gallery of Art
>{:.attribution}
{:.pull-quote}

Museum catalogues, like other forms of scholarship, adhere to publishing practices that have been honed over time. For example, scholars expect to see provenance information, exhibition history, and bibliography. They also expect material derived from other sources to be footnoted, and content to be clearly organized and citable, as with a book. (For more on citations, see also [Lesson 7: Design Matters.](#lesson-7){: .grid-trigger-link}) They want these same conventions, or their equivalent, in the digital environment.

<span class="popup popup-definition" data-definition='<%= define_term("usability-studies") %>'>*Usability studies*</span> commissioned by several of the museums demonstrated that the OSCI catalogues earned the trust of researchers precisely by using these standards and conventions.

</div>
<div class="grid-content" id="lesson-2-content">

<div class="grid-reset ion-grid"></div>


#### Lesson 2

## Choose Technology Wisely

### Understand your needs and ambitions

As OSCI began, some museums envisioned translating the print catalogue into a portable document format (PDF). A PDF is a familiar format to readers and can be archived, assuring that it will “last” in the online environment. Participants quickly realized, however, that while a PDF is highly stable, it doesn’t take advantage of any of the features offered by online publishing. The group soon asked: if the catalogues are interactive, born-digital publications, what content and features do we want to include?

<blockquote class="pull-quote" markdown="0">
  <div class="video-closer ion-close-circled"></div>
  <div class="video">
    <img src="/assets/images/videocard_ggroom.jpg" id="poster" alt="Gloria Groom, Art Institue of Chicago" />
    <iframe src="" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quote">
    <h3><em>“It was exciting to think about this new creature … [a] new kind of form and interactivity that none of us ever thought would be possible.”</em></h3>
    <p class="attribution">Gloria Groom, Chair of European Painting and Sculpture, Art Institute of Chicago</p>
  </div>
</blockquote>

The options seemed almost unlimited, including the list that follows:

- Zoomable high-resolution images
- Image comparison tools
- Conservation documentation and analysis (such as X-rays)
- Multimedia content (such as audio and video)
- Citation tools
- Full-text search
- Dynamic filtering of objects by type, date, author, and so on
- Note-taking functions
- Customizable lightbox to let users select and save their own image collections

In addition, the museums realized that publishing online would allow them to do the following:

- Add or update content over time
- Include much more content than with print
- Design for content to be accessible from multiple devices (mobile, tablet, or desktop computer)

But how many options were too many? In the end, each museum carefully selected those features that best suited its respective catalogues after an intense period of planning and consultation.

<div class="figure-gallery" markdown="0">
  <figure>
    <img src="/assets/images/projects/nga_feature_comparrison.jpg" alt="Features" />
  </figure>
  <figure>
    <img src="/assets/images/projects/aic_feature_layers.jpg" alt="Features" />
  </figure>
  <figure>
    <img src="/assets/images/projects/seattle_feature_scrollannotation.jpg" alt="Features" />
  </figure>
  <figcaption>
    From left to right: The National Gallery of Art’s side-by-side image comparisons; The Art Institute of Chicago’s layered image viewer outlining various features seen using different imaging technologies; and Seattle Museum of Art’s scroll inscription and seal annotations.
  </figcaption>
</div>

### Take stock of existing systems

Before choosing a new publishing system, each museum found that it was critical to understand where information about works of art already resided, as well as the technology systems that were already in place. Information about individual artworks may exist in both paper and computer files in various museum departments, including curatorial, conservation, and collections. But how could this information be brought together in the digital environment? To complicate matters, existing museum software systems—including those that manage collections data, store images, and create Web pages—are not always integrated (they don’t “talk” to one another easily) and were not designed to become publishing platforms.

The OSCI museums set out to develop solutions that would export information from these different systems and then import it to an online publication, whether it was tombstone information harvested from the <span class="popup popup-definition" data-definition='<%= define_term("cms") %>'>*collection management system (CMS)*</span> or digital images extracted from a <span class="popup popup-definition" data-definition='<%= define_term("dams") %>'>*digital asset management system (DAMS)*</span>. The OSCI partners also insisted that any solution should make it easy to integrate catalogue entries and essays, which are typically written and stored outside of museum databases.

The first step was to recognize that the scholarly catalogue would be much more than an aggregation of an institution’s existing databases. What the OSCI partners needed was the best <span class="popup popup-definition" data-definition='<%= define_term("information-architecture") %>'>*information architecture*</span> for their institution and for the needs of their respective catalogues.

### Embrace a team approach

>### *“Technology and content development need to work hand-in-hand, and museums need to think about this from the beginning.”*
>
>Kyle Jaebker, Former Director, IMA Lab, Indianapolis Museum of Art
>{:.attribution}
{:.pull-quote}

From the start, the OSCI cohort realized that the content and technology teams needed to work closely together at all points throughout the project. Unlike a print catalogue, where the curator writes the text and then hands it off to the publication department, the new online environment required close collaboration at the outset. Curators, editors, and publishers understand the nature of art historical research and collections-based publishing; software developers, designers, and systems analysts understand the capacity of the current information architecture and are also able to envision what might be possible through technological innovation. In the most successful projects, the team was an equal partnership in which all sides sat around the table to brainstorm together. Conversations oscillated between “We need a catalogue to do this” and “Here is what our website can do,” with frequent interjections of “Wouldn’t it be cool if. . . .”

<figure class="inline-figure" markdown="0">
  <img src="/assets/images/animation_team.gif" alt="team" />
  <figcaption>Where print book workflows tend to be linear—from content creation to editing, design, production, and distribution—digital publishing requires more cross-collaboration throughout the entire project.</figcaption>
</figure>

### Create a Functional Requirements Document

To move from brainstorming to project development, many OSCI museums created <span class="popup popup-definition" data-definition='<%= define_term("functional-requirements-docs") %>'>*functional requirements documents*</span>, which brought together the needs of both technologists and authors. To create functional requirements, museum staff needed to understand how content is currently created, stored, retrieved, and disseminated, and have a good understanding of what currently works and what does not, as well as what might need to be done differently to create an online publishing platform. Staff needed to be honest about identifying current “pain points” in their workflow and systems.

[Functional Requirements (PDF)](/assets/downloads/osci_functionalrequirements.pdf){:.ion-android-download .button .download}

Creating a list of functional requirements allows the institution not only to scope the project but also to identify priorities. These documents provide clarity about software and hardware requirements, aid in decisions about how to proceed, and provide a budget roadmap for the project. For those museums seeking technology assistance outside their institution, functional requirements documents are also helpful when seeking bids from consultants.

### Select a suitable approach

The OSCI cohort was creating a new genre: a scholarly collection catalogue did not yet exist online, so there was no one approach to follow. Each museum had the freedom, and the obligation, to decide on the desired look of its online catalogue; for example, should it have a more “book-like” experience and function as a discrete, well-defined sub-unit within the institution’s website? Or should the catalogue be integrated more porously with the online collection pages, enabling users to “jump” in and out of the catalogue? And which approach meshes with the museum’s broader online publishing goals and technology capabilities?

In the end, the OSCI museums developed [three approaches](../three-approaches.html). Each met the technology capacities of the respective institutions and conveyed the desired content and features.

</div>
<div class="grid-content" id="lesson-3-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 3

## Rightsize the Project

> *“Initially our OSCI project encompassed all of the Pulverer Collection of premodern Japanese illustrated books but with over 60,000 images to manage, we quickly realized the scope was too large. Sharpening our focus to a set of key works by Hokusai allowed us to use the publication as a pilot project and work out the technical challenges with a smaller data set.”*
>
>Nancy Micklewright, Head, Public and Scholarly Engagement, Freer/Sackler Galleries
>{:.attribution}

### Scale the project appropriately

All the OSCI museums began with ambitious publishing projects, but most quickly realized that they needed to scale back the size in order to develop effective prototypes and test them. Small-scale trial runs are possible—and a common practice—in the online environment and were a particularly appropriate method for OSCI, given that no examples existed yet for online scholarly catalogues. Prototypes are also great vehicles to complete <span class="popup popup-definition" data-definition='<%= define_term("usability-studies") %>'>*usability studies*</span> before spending the time and effort to build a complete product.

For the most part, OSCI participants were developing their technology at the same time they were creating content for their catalogues. Several museums were also transitioning to a new <span class="popup popup-definition" data-definition='<%= define_term("cms") %>'>*CMS*</span> or <span class="popup popup-definition" data-definition='<%= define_term("dams") %>'>*DAMS*</span>, or even creating a new institutional website. These were complicating factors, although in many cases they resulted in improvements to the catalogues. Indeed, the museums that linked their catalogue to the redesign of their website discovered that they could achieve new tools and features because the needs of the scholarly catalogue were considered alongside those of the overall institution. These tools and features could then be used for other projects in the future.

<blockquote class="pull-quote" markdown="0">
  <div class="video-closer ion-close-circled"></div>
  <div class="video">
    <img src="/assets/images/videocard_sroberts.jpg" id="poster" alt="Sarah Roberts (SFMOMA)" />
    <iframe src="https://www.youtube.com/embed/hW0sWnCD8Yk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quote">
    <h3><em>Readers see this “as a new form &#8230; this isn’t just an online version of a scholarly catalogue”</em></h3>
    <p class="attribution">Sarah Roberts, Andrew W. Mellon Associate Curator of Painting and Sculpture, SFMOMA</p>
  </div>
</blockquote>

### Limits: When to set them and when to break them

Online publication offers the opportunity for virtually unlimited content, such as expanded curatorial and conservation materials, multiple images, and extensive primary source documentation. But how much is too much? The OSCI participants realized that they needed to set limits if they were to realize the project within a reasonable time frame, manage the project effectively and, above all, ensure a coherent and cohesive reading experience for the user.

This didn’t mean, however, that they accepted the traditional limits associated with printed catalogues. The Monet Catalogue of the Art Institute of Chicago, for example, contains 2,300 images and 400,000 words; it would be 1,100 pages in print. A print version of SFMOMA’s Rauschenberg catalogue would be 600 pages, which would be the largest publication ever produced by the museum.

</div>
<div class="grid-content" id="lesson-4-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 4

## Know Your Content

### Make sure the data is clean

At the core of each scholarly catalogue is original research and authoritative content; however, clean data is also a *sine qua non* for any online catalogue. Clean data is error free with consistent formatting across all items in the data set. It isn’t sexy and it takes time and manpower, but without clean data, readers will have trouble finding published content when searching the Web.

An important aspect of cleaning your data can be engaging with metadata and <span class="popup popup-definition" data-definition='<%= define_term("controlled-vocabularies") %>'>*controlled vocabularies*</span>. Not only do controlled vocabularies address common errors, such as spelling mistakes, they can also introduce consistency across different languages for improved search results. The Getty Research Institute has produced three such vocabularies: the *Art & Architecture Thesaurus®* (AAT), the *Getty Thesaurus of Geographic Names®* (TGN), and the *Union List of Artist Names (ULAN).®* These vocabularies have grown over time with contributions from the community, including the OSCI cohort.

### Identify where further digital assets are required

> “Curatorial texts are usually self-contained, but this catalogue integrated online media, comparative images, maps, and video. It led to a different way of interaction for Curatorial, Publications, and the Web and Digital Media groups.”
>
>Nancy Thomas, Deputy Director, Art Administration and Collections, LACMA
>{:.attribution}

<figure class="float-figure" markdown="0">
  <figcaption>Online catalogues offer a variety of new media formats to consider, including high-resolution images to allow for zooming</figcaption>
  <img src="/assets/images/static_zoom.gif" alt="assets" data-alt="/assets/images/animation_zoom.gif" class="animate-on-hover" />
</figure>

<figure class="float-figure" markdown="0">
  <figcaption>Layered images showing various states of an artwork</figcaption>
  <img src="/assets/images/static_layers.gif" alt="assets" data-alt="/assets/images/animation_layers.gif" class="animate-on-hover" />
</figure>

<figure class="float-figure" markdown="0">
  <figcaption>Rotatable 3D scans</figcaption>
  <img src="/assets/images/static_3d.gif" alt="assets" data-alt="/assets/images/animation_3d.gif" class="animate-on-hover" />
</figure>

Online publishing often created new possibilities for the OSCI museums; for example, the National Gallery of Art (NGA) was able to take advantage of the online environment to incorporate a powerful image viewing tool, allowing the comparison of paintings with accompanying conservation photography. This required careful preparation of the digital files during the research phase, which NGA completed using a set of image registration tools developed in collaboration with George Washington University.

The OSCI catalogues often required artworks to be rephotographed, particularly when current image files were not of sufficient resolution to support zooming and panning functions. For the Seattle Art Museum (SAM), the project became even more ambitious as they invested in high-resolution photographs of the Chinese scrolls that are the focus of their catalogue, and then stitched together these image files to replicate the experience of looking across a scroll.

It was also necessary for the OSCI museums to anticipate the inclusion of multimedia assets. Tate searched archival holdings for music and films relating to the Camden Town artists in their catalogue, SFMOMA excavated footage of Robert Rauschenberg commenting on works in their collection from their own video holdings, and several institutions commissioned new videos. Multimedia assets required additional attention to technology and rights issues, as well as viewer attention spans, so the OSCI museums were deliberate in choosing when and how to deploy this material.

</div>
<div class="grid-content" id="lesson-5-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 5

## Intellectual Property Is Manageable

> *“When we first met at the Getty, we were spending a lot of time on issues of rights and reproductions and the costs involved. Through OSCI and other efforts there has been a transformative understanding that collections images should be shared [freely] among institutions worldwide.”*
>
> Arthur Wheelock, Jr., Curator of Northern Baroque Paintings, National Gallery of Art
>{:.attribution}


OSCI participants recognized from the start that copyright law and permissions would impact their scholarly catalogues, although no one was quite sure what that impact would be. In an ideal world, the museums wanted high-resolution images that could be magnified, downloaded, stored, and linked. Many rights holders, however, worry that such functionality could lead to unauthorized image use.

[Sample License (PDF)](/assets/downloads/osci_rightsform.pdf){:.ion-android-download .button .download}

The OSCI cohort was also concerned about the limited term for online rights offered by most rights holders. If online rights had to be renegotiated every five to ten years, the costs and the work would be ongoing. To simplify the permissions process, the General Counsel’s Office of the J. Paul Getty Trust drafted a sample online scholarly catalogue license and made it available to the OSCI museums.

While challenges still remain to rights clearance for online publications, especially for contemporary art, all the OSCI participants found workable solutions. Museums that published catalogues on works of art that are out of copyright had fewer issues, aided by the development of museums’ open access programs in recent years. The J. Paul Getty Museum, the Freer and Sackler Galleries, LACMA, and NGA, among others, have adopted a policy of making freely available, without restriction, any images of works of art in their collection presumed to be in the public domain. Such open content programs have significantly reduced the potential cost of obtaining electronic image files and permissions to publish.

The staff at SFMOMA forged a strong partnership with the Robert Rauschenberg Foundation, which has since emerged as a leader in easing image use restrictions. The foundation granted SFMOMA rights to all the images used for the Rauschenberg catalogue and then subsequently overhauled its rights policies to facilitate image use for scholarship and teaching, and to be more in step with contemporary image-sharing culture. Walker Art Center staff take a liberal approach to obtaining rights. They do not, as a matter of practice, obtain permission to use images of works in their own collection on their website and continued this practice with their OSCI catalogue.

SAM needed to secure rights from museums in Asia for its catalogue and discovered that many of these institutions have no clear policies about the use of their images in electronic media. As a result, SAM uses thumbnail images on its site for a number of comparative images, in compliance with American Association of Museum Directors (AAMD) policy of 2011 that regards such applications as fair use.

Although approvals for online use of images frequently come with a time limit, none of the OSCI museums are tracking these limits, assuming that the rights-granting organization will do so. Most OSCI participants believe that within a few years, museums and rights-granting organizations will have eased their policies on the use of images in electronic media. A more comprehensive change, however, in the general approach of museums, artists, and artists’ estates to the online use of their images is needed for the issue to fade completely.

</div>
<div class="grid-content" id="lesson-6-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 6

## Find Ways to Serve Multiple Audiences

> *“Museums are moving too slowly with technology, and they need to
experiment with online publishing in order to disseminate information
about their collections to the audiences of the future. These museum
audiences are changing and becoming more tech savvy. You’re either with
them or you’re not.”*
>
>Mimi Gardner Gates, Director Emerita, SAM
>{:.attribution}

Producing content and designing an online catalogue are inseparable from considering one’s audience—or audiences. When the initiative began, the OSCI cohort thought of scholars as their primary—and sometimes the only—audience. Scholars were, historically, among the most frequent users of collection catalogues.

The OSCI museums found ways to engage scholarly audiences in the online environment. SAM and the Freer and Sackler Galleries created special features for registered users, including the ability to assemble personal collections of artworks found in their catalogues. SAM also invites scholars of Chinese painting and calligraphy to join their community and even propose essays for contribution. Readers of their catalogue are also encouraged to post comments and “Questions for Thought,” to stimulate a dialogue with readers.

However, through <span class="popup popup-definition" data-definition='<%= define_term("usability-studies") %>'>*usability studies*</span>, informal user groups, and feedback from beta sites, the OSCI museums found that more general audiences were keenly interested in online resources about their collections. Furthermore, they learned that the online catalogues could be used in teaching at all levels. This awareness led several participating museums to refine the content they provided as well as its presentation.

NGA followed, for example, what they called the “skim, swim, dive” approach, referring to a way of structuring each catalogue entry so that the reader can choose to read a short synopsis, explore additional information, or dig deeply into scholarly content and comparative material.

<figure class="inline-figure" markdown="0">
  <div id="skim-swim-dive">
    <img src="/assets/images/skimswimdive_water.png" id="water"/>
    <img src="/assets/images/skimswimdive_spotlight.png" id="spotlight" />
    <img src="/assets/images/skimswimdive_submarine_nounproject.png" id="submarine" />
    <div class="depth-headings">
      <div id="skim">
        <h2>Skim</h2>
        <p>Short synopses for the general reader</p>
      </div>
      <div id="swim">
        <h2>Swim</h2>
        <p>Further information for the curious amateur</p>
      </div>
      <div id="dive">
        <h2>Dive</h2>
        <p>Rich content for the scholarly researcher</p>
      </div>
    </div>
  </div>
  <figcaption>The National Gallery of Art followed a "skim, swim, dive" approach in developing their content.</figcaption>
</figure>

In order to broaden their potential audience, the Walker Art Museum decided to make their catalogue more closely resemble a magazine. As Robin Dowden, former director of new media initiatives at the Walker explained, “Our aim was to take some of the best story-telling innovations from our favorite long-form journalism sites and smartly bring them into the scholarly realm: seductive imagery, rich media, snippets of content that draw you in. Our catalogue is a blend of book and magazine. It meets the expectations of scholarly readers but also reaches out to broader audiences.”

Online catalogues can reach more readers than their printed counterparts. From June to September 2014, the Art Institute of Chicago reached readers in seventy-one countries, while the Walker reported a similarly wide reach, extending to seventy-five countries in its first year after launch.

</div>
<div class="grid-content" id="lesson-7-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 7

## Design Matters

The design parameters for an online catalogue can be much more elastic than those for print. While audiences are accustomed to the experience of reading a book—leafing through its contents and turning pages—the experience of reading online can be more dynamic. The trick is to take advantage of this opportunity without confusing the reader. Most OSCI participants found that it was important to have a designer involved early in the process.

### Think about user navigation

The OSCI museums wanted catalogue designs that would facilitate exploration. Users needed to be able to follow their own path but still be able to return to main sections of the catalogue with ease; for example, whenever readers are “inside” a particular catalogue entry, navigation elements and other signposts should guide them to additional content. Such wayfinding devices are also important given that search engines like Google often direct readers to the interior sections of a catalogue, entirely bypassing the home page, where one would expect to find the digital equivalent of a table of contents.

<div class="figure-gallery" markdown="0">
  <figure markdown="0">
    <img src="/assets/images/projects/freersackler_feature_graph.jpg" alt="Features" />
  </figure>
  <figure markdown="0">
    <img src="/assets/images/projects/seattle_feature_searchfilters.jpg" alt="Features" />
  </figure>
  <figure markdown="0">
    <img src="/assets/images/projects/lacma_feature_drawer.jpg" alt="Features" />
  </figure>
  <figcaption>
    Museums developed different ways to help readers navigate their catalogues. (Left to right) The Freer and Sackler Galleries included a unique, clickable bar chart of the catalogue objects by year; SAM’s search interface allows users to filter catalogue entries with different categories; and LACMA’s lightbox feature displays the figures in each catalogue entry as thumbnails across the bottom of the screen.
  </figcaption>
</div>

This flexibility, however, produced another problem. If the content of any given “page” might change depending on screen size, how does one generate scholarly citations, which are typically dependent on fixed page numbers? Museums solved this problem by offering readers access to preformatted citations. Individual solutions ranged from a clearly visible “citation” button that provides a link to a full catalogue section to more specialized citation tools that would generate a link to a highlighted section of content, such as a particular paragraph within an essay. In all cases, users are given a <span class="popup popup-definition" data-definition='<%= define_term("permanent-url") %>'>*permanent URL*</span> so they have reassurance about easily locating the desired content.

### Keep the image front and center

The OSCI institutions thought long and hard about how to overcome one of the limitations of the printed catalogue—the constant flipping back and forth to find the image that relates to the text. They created solutions so that the key image in a catalogue entry is always easy to locate and view. The Art Institute of Chicago ensured that throughout each catalogue entry, the work of art is constantly displayed. LACMA created a lightbox feature for each catalogue entry that displays all the images discussed in that essay. The NGA created a tool by which the reader can choose how to view the catalogue; turn on the “reader mode” button and the image will appear beside the relevant text.

### Devices will change

One of the only certainties of digital technology is change—this is equally true for software and hardware. When the OSCI initiative began, Apple’s iPhone had just launched and the tablet computer was not widely available. By the midpoint of the initiative, tablets were emerging as a highly popular means of information delivery. Recognizing these changes, the OSCI museums adapted quickly. One of the key challenges they faced was formatting the catalogue for the differing sizes of browser windows, from cell phone screens to large desktop monitors. <span class="popup popup-definition" data-definition='<%= define_term("responsive-design") %>'>*Responsive design*</span> provided the solution. The [OSCI Toolkit](http://www.oscitoolkit.org/) publishing platform used by the Art Institute, the Freer and Sackler Galleries, and LACMA, for example, allows columns of text and accompanying images to reflow depending on the browser window. The Walker’s catalogue also uses responsive design to achieve highly flexible layouts.

<figure class="inline-figure" markdown="0">
  <img src="/assets/images/animation_osci_responsivedesign.gif" alt="team" />
  <figcaption>Using repsonsive design means your site will adjust automatically to different screens.</figcaption>
</figure>

</div>
<div class="grid-content" id="lesson-8-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 8

## Get the right people and structure in place

### Involve senior staff from the start

Projects that span departments and reach both horizontally and vertically through an institution need institutional leadership. The inclusion of senior staff, either as project team members or advisors, was critical to the success of the OSCI projects, especially in the planning phase when ongoing commitments for budget and staff were required. They also found that the quickest route to acceptance by senior-level museum staff was to ensure that key individuals were kept up to date on the project and its progress.

### Collaboration and communication are essential

OSCI participants found that online publishing is more collaborative and less compartmentalized than the creation of a print catalogue. Team members needed a basic understanding of the work being done by others, and on some level everyone needed to grasp the methodology of scholarly research *and* the possibilities of the technology. This had the effect of closely integrating technology staff members, who can be marginalized within museums, into a programmatic initiative. In the most successful projects, curators, technologists, designers, and others worked together from the start. (For more on collaboration see [“Embrace a team approach” in Lesson 2](#lesson-2){: .grid-trigger-link})

<figure class="inline-figure" markdown="0">
  <img src="/assets/images/static_osci_venndiagram.png" alt="venndiagram" />
</figure>

### Projects need managers and leaders

> *“Complicated projects need project management*. *Digital publishing provided the catalyst to integrate these skills more fully into all of the museum’s work, and this change in mindset has been a real gamechanger.”*
>
>Nancy Micklewright, Head, Public and Scholarly Engagement, Freer and Sackler Galleries
>{:.attribution}

The process for creating an electronic catalogue may be more collaborative than that of a print catalogue; nonetheless, someone has to be in charge. Online publishing projects have a number of moving parts, and the OSCI museums recognized the need for strong project managers and leaders.

The project manager is responsible for achieving the goals and the objectives of the project, and for establishing strong collaboration and communication in the project team. Several of the OSCI museums appointed dedicated project managers for their catalogues. At other museums, those responsibilities fell on existing staff as part of their regular position descriptions.

As the institutional advocate, the project leader needs to ensure that resources are adequate, that the organization remains committed to the vision inherent in the project, and that communication up and down is unimpeded. At smaller institutions, the project leader was also the project manager.

<blockquote class="pull-quote" markdown="0">
  <div class="video-closer ion-close-circled"></div>
  <div class="video">
    <img src="/assets/images/videocard_ccoerver.jpg" id="poster" alt="Chad Coerver (SFMOMA)" />
    <iframe src="https://www.youtube.com/embed/9SDoSQxJUzE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quote">
    <h3><em>“we had to bring a number of skillsets together in a new way”</em></h3>
    <p class="attribution">Chad Coerver, Chief Content Officer, SFMOMA</p>
  </div>
</blockquote>

### Identify where new positions, skills, and outsourcing are needed

Online catalogues often require new skills; for example, an editor accustomed to print may not be familiar with editing text in <span class="popup popup-definition" data-definition='<%= define_term("html") %>'>*HTML*</span>. Most OSCI museums revised at least some existing position descriptions and developed new skills in their existing staff. Some museums needed to add positions, mostly in technology or project management. In some cases, technology was outsourced; SAM, for example, worked closely with the technology vendor Gallery Systems to create their online catalogue. (See [Three Approaches](../three-approaches.html) section)

SFMOMA and the Freer and Sackler Galleries have made the skills required for project management a priority for their staff. For example, eighty percent of the Freer and Sackler Galleries’ staff has attended project management training, as have much of SFMOMA’s staff, where project management specialists are now a part of many departments.

### Anticipate turnover

Turnover, whether caused by resignation, layoff, or promotion, became a critical issue for the OSCI museums. Almost every team lost a key staff member, either on the content side or on the technical side. Positions on the technical side proved particularly difficult to fill, given that the skills of programmers and developers are in high demand in the for-profit sector.

The cost of replacing staff can be high and staff departures can cause significant project delays. The OSCI partners found, however, that up-to-date project documentation can help shorten the start-up time for new employees. They also found that new staff brought with them fresh perspectives and insights.

### Be prepared to rethink workflow

Online catalogues require new ways in which to sequence work. The typical workflow for a print publication is linear: the book progresses from curatorial research to manuscript, after which it is handed off to editorial and design, advancing to production, and finally on to marketing and sales, with review and input from participants at each stage.

<figure class="inline-figure" markdown="0">
  <img src="/assets/images/animation_workflow.gif" alt="workflow" />
  <figcaption>Digital publication workflows proved to be much less linear and more overlapping than the traditional print workflows many of the OSCI participants were accustomed to.</figcaption>
</figure>

Online publications require an iterative process, which is more circular and repetitive, coming closer to the desired result with each step. Additionally, there are frequently simultaneous workflows across the museum in separate areas, which overlap at various points in the process. Design, for example, is no longer considered only at the point at which the manuscript is complete; rather, it is integrally tied to the way in which the content is conceived and then subsequently organized and published. Also, the types and required resolution of online images must be anticipated at the outset in order to avoid re-photographing works of art to meet new project demands.

### Organizational structures may change

>### *“This was a transformational initiative for us. It was not about superimposing something on the institution. It was about changing the way we work.”*
>
>Robin Dowden, former Director of Technology and New Media Initiatives, Walker Art Center
>{:.attribution}
{:.pull-quote}

Many OSCI institutions reorganized to better facilitate cross-departmental work. For example, print publication departments typically don’t interact with the Web group; however, with online publishing, the two departments must work closely together. This caused some OSCI museums to make small changes to their existing structures, while others shattered departmental barriers and created new organizational structures.

At the Art Institute, the Publications Department became the Publishing Department, carrying with it the responsibility for both print and electronic publications, as well as for imaging. At SFMOMA, community engagement, publications, interpretive media, the Web team, and the design studio were all brought together in the Department of Content Strategy and Digital Engagement, headed by the museum’s chief content officer, and reporting to the museum’s deputy director for curatorial affairs.

</div>
<div class="grid-content" id="lesson-9-content">

<div class="grid-reset ion-grid"></div>

#### Lesson 9

## Think Sustainably

Online catalogues require a different type of long-term planning than a print catalogue. When the printed book is completed, it can be placed on the library shelf and staff can turn to the next project. An online publication must be maintained, which requires both staff time and resources. Curators need to create new catalogue entries to reflect recent acquisitions and existing records must be updated. In addition, museums must review and upgrade technology periodically. This ongoing commitment brings promising possibilities as well as real challenges.

### Not everything needs to be done at once

Online publishing allows museums to adjust a catalogue’s content, design, and information architecture over time. Modules and additional information can be added; revisions can be undertaken. SAM, for example, has added essays to its Chinese scrolls catalogue since its initial publication, and the Freer and Sackler Galleries already have plans for additional material to expand its catalogue. SFMOMA acquired a new work by Rauschenberg since the release of their catalogue and smoothly integrated this new acquisition into the existing publication.

### Be deliberate about version control

The opportunity to add new content must be balanced with scholars’ desire for permanent, citable sources. When scholars refer to catalogues as evidence in their arguments, they want assurance that the cited sources can still be found and remain the same as when the citation was made.

The OSCI museums developed different solutions to this problem. Tate and SFMOMA, on the one hand, date each individual scholarly essay. When new material is added, it will be distinguished from the older material by date. NGA, on the other hand, plans to systematically update their catalogues on a five-year rotation and reissue the updated versions as new editions. Regardless of which approach is chosen, the museums realized it was important to be clear about their policy.

<figure class="float-figure figure-push" markdown="0">
  <img src="/assets/images/projects/lacma_feature_downloads.jpg" alt="LACMA Downloads" />
  <figcaption>LACMA’s catalogue includes the option to download the entire catalogue or individual entries as PDF files.</figcaption>
</figure>

### Consider access and long-term preservation

All the OSCI participants produced born-digital, interactive publications, but many also realized that readers may want to download materials and read them offline. They made this possible by offering various downloadable PDF options, whereby readers can print a hard copy of the catalogue. While these versions of the catalogue may lack some of the original features – videos, for example, cannot be played—they can be easily stored and preserved for future use. Meeting the needs of long-term preservation remains, however, an ongoing challenge. (See [Remaining Challenges section.](../remaining-challenges.html))

### Think pipeline rather than one-off

> *“Sustainability is key to online publishing. Once the initial
investment is made, it makes sense to use the same technology for all
new projects. This can only be done, of course, if the museum develops
templates that are generic rather than bespoke.”*
>
>Jennifer Mundy, Head of Collections Research, Tate
>{:.attribution}

The OSCI catalogues are part of a fundamental reorientation toward the digital realm in museums, which increasingly impacts almost every aspect of an organization’s work. Technology changes constantly, so museums cannot wait for some “ultimate solution” for digital publishing. Instead, they must develop a digital strategy for their institution with the understanding that it will evolve over time. Online publishing, then, becomes part of a larger framework for how museums integrate technology across the institution and align it with overall mission and goals.

Part of this shift is recognizing that online publications are not one-off boutique projects, but part of building a long-term, sustainable publishing platform. To achieve this goal requires prioritizing online production, committing institutional resources, and devoting sufficient time to planning. Most of the OSCI museums anticipated that future catalogues would be easier and less expensive with an established platform. Although only time will tell, this has already been the case for the OSCI museums that have produced additional catalogues. The Art Institute, for example, has released several online catalogues since the inaugural volumes and reports considerable cost reductions. (See [What’s Next](../whats-next.html) and [What Does It Cost?](../what-does-it-cost.html)).

### Repurpose content and tools

The OSCI participants discovered that content of their catalogues could be repurposed within the museum and pushed out to other platforms and media. The Art Institute and SAM, for example, have used material from their OSCI projects for in-gallery interpretations that accompany exhibitions.

The technological solutions for online publishing can likewise be repurposed. Tate is using the system developed for their OSCI catalogue for its *In Focus* series of shorter online publications dedicated to one or a small group of objects. The Walker Art Center has adapted the text-image tool developed for its catalogue—whereby an author can easily adjust the text and image layout—for general use on its website.

<div class="figure-gallery" markdown="0">
  <figure>
    <img src="/assets/images/projects/aic_ensor.jpg" alt="Other publications from the Art Institute of Chicago" />
  </figure>
  <figure>
    <img src="/assets/images/projects/walker_hippiemodernism.jpg" alt="Other publications from the Waler Art Center" />
  </figure>
  <figure>
    <img src="/assets/images/projects/tate_infocus.jpg" alt="Other publications from the Tate Gallery" />
  </figure>
  <figcaption>
    A number of the OSCI museums have already published more online catalogues and have found additional uses for the publishing tools they developed, such as the Art Institute of Chicago’s James Ensor exhibition publication, the Walker Art Center’s Hippie Modernism online article, and the Tate Gallery’s <em>In Focus</em> series, this one on John Smith’s <em>The Girl Chewing Gum</em> (1976).
  </figcaption>
</div>

</div>
</div>


<div class="grid-nav trigger-borders" markdown="0">
  <a href="#lesson-1" class="grid-trigger" id="trigger-1">
    <h4>1</h4>
    <h3>Online Publishing <span class="diminutive">is</span> Authoritative</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-2" class="grid-trigger" id="trigger-2">
    <h4>2</h4>
    <h3>Choose Technology Wisely</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-3" class="grid-trigger" id="trigger-3">
    <h4>3</h4>
    <h3>Rightsize <span class="diminutive">the</span> Project</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-4" class="grid-trigger" id="trigger-4">
    <h4>4</h4>
    <h3>Know Your Content</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-5" class="grid-trigger" id="trigger-5">
    <h4>5</h4>
    <h3>Intellectual Property Is Manageable</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-6" class="grid-trigger" id="trigger-6">
    <h4>6</h4>
    <h3>Find Ways to Serve <em>Multiple</em> Audiences</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-7" class="grid-trigger" id="trigger-7">
    <h4>7</h4>
    <h3>Design Matters</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-8" class="grid-trigger" id="trigger-8">
    <h4>8</h4>
    <h3>Get the<br />Right People <span class="diminutive">and</span> Structure<br />in Place</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
  <a href="#lesson-9" class="grid-trigger" id="trigger-9">
    <h4>9</h4>
    <h3>Think Sustainably</h3>
    <span class="ion-power trigger-effect"></span>
  </a>
</div>
