---
title: Lessons Learned
layout: page
sort_order: 3
sections: true
cover: nga_theconcert.jpg
---
## Lesson 1: Online Publishing Is Authoritative
{:.section-heading}

> *“The means of production and display may have changed, but it’s a peer reviewed scholarly catalogue with all that that implies.”*
>
> —Judy Metro, Editor in Chief, National Gallery of Art (NGA)
> {:.attribution}

> *“Before this project, our curator of South and Southeast Asian Art wouldn’t let his students use online resources. Now he does.”*
>
> —Nancy Thomas, Deputy Director, Art Administration and Collections, Los Angeles County Museum of Art (LACMA)
> {:.attribution}

At the beginning of the Online Scholarly Catalogue Initiative (OSCI), the validity of publishing scholarly content online was not universally agreed upon. Would some readers, the OSCI cohort wondered, only associate internet publishing with personal opinion and transient content that is not reliably citable? To address such concerns, the OSCI participants agreed that the goal of the initiative should be to produce catalogues that met all the expectations of sound museum scholarship.

**Rigorous Research**: Readers still expect essays and entries authored by subject specialists. The OSCI catalogues demonstrate that this scholarship becomes even more meaningful when accompanied by material unique to the museum and typically inaccessible to those outside the institution, such as conservation documentation or archival materials.

**Permanence**: Scholars, in particular, want to know that an online resource will be there in the future, just as a book remains on the shelf. If a catalogue is updated or changed, they want this to be indicated as clearly as possible. They also want to know that the catalogue will be archived and preserved for the future. (See also [Lesson 9: Think Sustainably.](#))

**Scholarly Conventions**: Museum catalogues, like other forms of scholarship, adhere to publishing practices that have been honed over time. For example, scholars expect to see provenance information, exhibition history, and bibliography. They also expect material derived from other sources to be footnoted, and content to be clearly organized and citable, as with a book. (For more on citations, see also [Lesson 7: Design Matters.](#)) They want these same conventions, or their equivalent, in the digital environment.

[Usability Study (PDF)](#){:.ion-ios-cloud-download}
{:.download}

Usability studies commissioned by several of the museums showed that the OSCI catalogues earned the trust of researchers precisely by using these standards and conventions.

## Lesson 2: Choose Technology Wisely
{:.section-heading}

### Understand your needs and ambitions
{:.subheading}

As OSCI began, some museums envisioned translating the print catalogue into a portable document format (PDF). A PDF is a familiar format to readers and can be archived, assuring that it will “last” in the online environment. Participants quickly realized, however, that while a PDF is highly stable, it doesn’t take advantage of any of the features offered by online publishing. The group soon asked: if the catalogues are interactive, born-digital publications, what content and features do we want to include?

The options seemed almost unlimited, including the list that follows:

- Zoomable high-resolution images
- Image comparison tools
- Conservation documentation and analysis (such as X-rays)
- Multimedia content (such as audio and video)
- Citation tools
- Full-text search
- Dynamic filtering of objects by type, date, author, and so on
- Note-taking functions
- Customizable lightbox to let users select and save their own image collections
{:.features}

In addition, the museums realized that publishing online would allow them to do the following:

- Add or update content over time
- Include much more content than with print
- Design for content to be accessible from multiple devices (mobile, tablet, or desktop computer)
{:.features}

But how many options were too many? In the end, each museum selected those features that best suited its respective catalogues.

![Features](assets/images/nga_imagecomparison.png)
<br />
EXAMPLES OF FEATURES: Image comparison from National Gallery, Zoom, Note Taking from Seattle, Conservation from Tate
{:.figure}

### Take stock of existing systems

Before choosing a new publishing system, it is critical to understand where information about works of art already resides in the museum, as well as the technology systems that are already in place. Information about individual artworks may exist in both paper and computer files in various museum departments, including curatorial, conservation, and collections. But how is this information brought together in the digital environment? To complicate matters, existing museum software systems—including those that manage collections data, store images, and create Web pages—are not always integrated (they don’t “talk” to one another easily) and were not designed to become publishing platforms.

The OSCI museums set out to develop solutions that would export information from these different systems and then import it to an online publication, whether it was tombstone information harvested from the <span class="popup popup-definition" data-definition='<%= define_term("cms") %>'>*collection management system (CMS)*</span> or digital images extracted from a <span class="popup popup-definition" data-definition='<%= define_term("dams") %>'>*digital asset management system (DAMS)*</span>. The OSCI partners also insisted that any solution should make it easy to integrate catalogue entries and essays, which are typically written and stored outside of museum databases.

The first step was to recognize that the scholarly catalogue would be much more than an aggregation of an institution’s existing databases. What the OSCI partners needed was the best <span class="popup popup-definition" data-definition='<%= define_term("information-architecture") %>'>*information architecture*</span> for their institution and for the needs of their respective catalogues.

### Embrace a team approach

> *“Technology and content development need to work hand-in-hand, and museums need to think about this from the beginning.”*
>
>—Kyle Jaebker, IMA Lab, Indianapolis Museum of Art
>{:.attribution}

From the start, the OSCI cohort realized that the content and technology teams needed to work closely together at all points throughout the project. Unlike a print catalogue, where the curator writes the text and then hands it off to the publication department, the new online environment required close collaboration at the outset. Curators, editors, and publishers understand the nature of art historical research and collections-based publishing; software developers, designers, and systems analysts understand the capacity of the current information architecture and are also able to envision what might be possible through technological innovation. In the most successful projects, the team was an equal partnership in which all sides sat around the table to brainstorm together. Conversations oscillated between “We need a catalogue to do this” and “Here is what our website can do,” with frequent interjections of “Wouldn’t it be cool if. . . .”

![Team](assets/images/illustration_team.gif)
<br />
Where print book workflows tend to be linear—from content creation to editing, design, production, and distribuion—digital publishing requires more cross-collaboration starting at the very beginning of the project.
{:.figure}

### Create a Functional Requirements Document

To move from brainstorming to project development, many OSCI museums created <span class="popup popup-definition" data-definition='<%= define_term("functional-requirements-docs") %>'>*functional requirements documents*</span>, which brought together the needs of both technologists and authors. To create functional requirements, museum staff needed to understand how content is currently created, stored, retrieved, and disseminated, and have a good understanding of what currently works as well as what does not, as well as what might need to be done differently to create an online publishing platform. Staff needed to be honest about identifying current “pain points” in their workflow and systems.

[Functional Requirements (PDF)](#){:.ion-ios-cloud-download}
{:.download}

Creating a list of functional requirements allows the institution not only to scope the project but also to identify priorities. These documents provide clarity about software and hardware requirements, aid in decisions about how to proceed, and provide a budget roadmap for the project. For those museums seeking technology assistance outside their institution, functional requirements documents are also helpful when seeking bids from consultants.

### Select a fitting approach

> *“Deciding how digital publications would sit within Tate’s overall website was critical, and we chose a ‘walled garden’ approach. Create enough of a barrier so that readers know when they are in the catalogue, but retain constant visibility of the overall website navigation so they are aware of what surrounds them.”*
>
>—Jennifer Mundy, Head of Collections Research, Tate
>{:.attribution}

The OSCI cohort was creating a new genre: a scholarly collection catalogue did not yet exist online, so there was no one approach to follow. Each museum had the freedom, and the obligation, to decide on the desired look of its online catalogue; for example, should it have a more “book-like” experience and function as a discrete, well-defined subunit within the institution’s website? Or should the catalogue be integrated more porously with the online collection pages, enabling users to “jump” seamlessly in and out of the catalogue? And which approach meshes with the museum’s broader online publishing goals and technology capabilities?

In the end, the OSCI museums developed [three models](#). Each met the technology capacities of the respective institutions and conveyed the desired content and features.

## Lesson 3: Rightsize the Project
{:.section-heading}

> *“Initially our OSCI project encompassed all of the Pulverer Collection of premodern Japanese illustrated books but with over 60,000 images to manage, we quickly realized the scope was too large. Sharpening our focus to a set of key works by Hokusai allowed us to use the publication as a pilot project and work out the technical challenges with a smaller data set. We are now well underway with completing the cataloguing for the entire collection and adding new scholarly essays.”*
>
>—Nancy Micklewright, Head, Public and Scholarly Engagement, Freer/Sackler Galleries
>{:.attribution}

### Scale the project appropriately

All the OSCI museums began with ambitious publishing projects, but most quickly realized that they needed to scale back the size in order to develop effective prototypes and test them. Small-scale trial runs are possible—and a common practice—in the online environment and were a particularly appropriate method for OSCI, given that no examples existed yet for online scholarly catalogues. Prototypes are also great vehicles to complete <span class="popup popup-definition" data-definition='<%= define_term("usability-studies") %>'>*usability studies*</span> before spending the time and effort to build a complete product.

For the most part, OSCI participants were developing their technology at the same time they were creating content for their catalogues. Several museums were also transitioning to a new <span class="popup popup-definition" data-definition='<%= define_term("cms") %>'>*CMS*</span> or <span class="popup popup-definition" data-definition='<%= define_term("dams") %>'>*DAMS*</span>, or even creating a new institutional website. These were complicating factors, although in many cases they resulted in improvements to the catalogues. Indeed, the museums that linked their catalogue to the redesign of their website discovered that they could achieve new tools and features because the needs of the scholarly catalogue were considered alongside those of the overall institution. These tools and features could then be used for other projects in the future.

### Limits: When to set them and when to break them

Online publication offers the opportunity for virtually unlimited content, such as expanded curatorial and conservation materials, multiple images, and extensive primary source documentation, to enrich the catalogue presentation. But how much is too much? The OSCI participants realized that they needed to set limits if they were to realize the project within a reasonable time frame, manage the project effectively and, above all, ensure a coherent and cohesive reading experience for the user.

This didn’t mean, however, that the OSCI cohort accepted the traditional limits associated with printed catalogues. The Monet Catalogue of the Art Institute of Chicago, for example, contains 2,300 images and is 400,000 words; it would be 1,100 pages in print. A print version of SFMOMA’s Rauschenberg catalogue would be 600 pages, which would be the largest publication ever produced by the museum.

<blockquote class="video-quote">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/17SXDmVfb0A?rel=0&amp;showinfo=0;start=471" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quote">
    <p>This project “brought together a constellation of perspectives, documentation and content around each individual artwork that takes this into a new realm beyond the traditional scholarly collection catalogue.”</p>
    <p class="attribution">—Sarah Roberts (SFMOMA)</p>
  </div>  
</blockquote>

## Lesson 4: Know Your Content
{:.section-heading}

### Make sure the data is clean

At the core of each scholarly catalogue is original research and authoritative content; however, clean data is also a *sine qua non* for any online catalogue. Clean data is error free with consistent formatting across all items in the data set. It isn’t sexy and it takes time and manpower, but without clean data, readers will never find your content when searching the Web.

An important aspect of cleaning your data can be engaging with metadata and <span class="popup popup-definition" data-definition='<%= define_term("controlled-vocabularies") %>'>*controlled vocabularies*</span>. Not only do controlled vocabularies address common errors, such as spelling mistakes, they can also introduce consistency across different languages for improved search results. The Getty Research Institute has produced three such vocabularies: the *Art & Architecture Thesaurus®* (AAT), the *Getty Thesaurus of Geographic Names®* (TGN), and the *Union List of Artist Names (ULAN).®* These vocabularies have grown over time with contributions from the community, including the OSCI cohort. For example, LACMA discovered that a number of terms related to Southeast Asian art were absent from the AAT while consulting this resource, so they are contributing the missing items to this vocabulary.

### Identify where further digital assets are required

Online publishing often pushed the OSCI museums in new directions; for example, the NGA wanted to take advantage of the online environment to improve the comparison of paintings with their accompanying conservation documentation. They incorporated a powerful image viewing tool in their catalogue, which does just that. This required careful preparation of the digital files during the research phase, which NGA completed using [a set of image registration tools developed in collaboration with George Washington University](http://spie.org/Publications/Proceedings/Paper/10.1117/12.2021318).

The OSCI catalogues often required artworks to be rephotographed, particularly when current image files were not of sufficient resolution to support zooming and panning functions. For the Seattle Art Museum (SAM), the project became even more ambitious as they invested in high-resolution photographs of the Chinese scrolls that are the focus of their catalogue, and then stitched together these image files to replicate the experience of looking across a scroll.

It was also necessary for the OSCI museums to anticipate the inclusion of multimedia assets. Tate searched archival holdings for music and films relating to the Camden Town artists in their catalogue, SFMOMA excavated footage of Robert Rauschenberg commenting on works in their collection from their own video holdings, and several institutions commissioned new videos. Multimedia assets required additional attention to technology and rights issues, as well as viewer attention spans, so the OSCI museums were deliberate in choosing when and how to deploy this material.

![Assets](assets/images/illustration_digitalassets.gif)
<br />
From stitched together high-resolution images to allow for zooming, to layered images showing various states of an artwork, to video footage both archival and newly created, online catalogue offer a wealth of new formats to consider.
{:.figure}

## Lesson 5: Intellectual Property Is Manageable
{:.section-heading}

OSCI participants recognized from the start that copyright law and permissions would impact their scholarly catalogues, although no one was quite sure what that impact would be. In an ideal world, the museums wanted high-resolution images that could be magnified, downloaded, stored, and linked. Many rights holders, however, worry that such functionality could lead to unauthorized image use.

[Sample License (PDF)](#){:.ion-ios-cloud-download}
{:.download}

The OSCI cohort was also concerned about the limited term for online rights offered by most rights holders. If online rights had to be renegotiated every five to ten years, the costs and the work would be ongoing. To simplify the permissions process, the General Counsel’s Office of the J. Paul Getty Trust drafted a sample online scholarly catalogue license and made it available to the OSCI museums.

While challenges still remain to rights clearance for online publications, especially for contemporary art, all the OSCI participants found workable solutions. Museums that published catalogues on works of art that are out of copyright had fewer issues, aided by the development of museums’ open access programs in recent years. The J. Paul Getty Museum, the Freer and Sackler Galleries, LACMA, and NGA, among others, have adopted a policy of making freely available, without restriction, any images of works of art in their collection presumed to be in the public domain. Such open content programs have significantly reduced the potential cost of obtaining electronic image files and permissions to publish.

The staff at SFMOMA forged a strong partnership with the Robert Rauschenberg Foundation, [which has since emerged as a leader in easing image use restrictions](http://www.nytimes.com/2016/02/27/arts/design/rauschenberg-foundation-eases-copyright-restrictions-on-art.html). The foundation granted SFMOMA rights to all the images they used for its Rauschenberg catalogue and then subsequently overhauled its rights restrictions for all to facilitate scholarship and teaching, and be more in step with contemporary image-sharing culture. Walker Art Center staff take a liberal approach to obtaining rights. They do not, as a matter of practice, obtain permission to use images of works in their own collection on their website and continued this practice with their OSCI catalogue.

SAM needed to secure rights from museums in Asia for its catalogue and discovered that many of these institutions have no clear policies about the use of their images in electronic media. As a result, SAM uses thumbnail images on its site for a number of comparative images, in compliance with American Association of Museum Directors (AAMD) [policy](#) of 2011 that regards such applications as fair use.

Although approvals for online use of images frequently comes with a time limit, none of the OSCI museums are tracking these limits, assuming that the rights-granting organization will do so. Most OSCI participants believe that within a few years, museums and rights-granting organizations will have eased their policies on the use of images in electronic media. A more comprehensive change, however, in the general approach of museums, artists, and artists’ estates to the online use of their images is needed for the issue to fade completely.

## Lesson 6: Find Ways to Serve Multiple Audiences; or, Online Catalogues Aren’t Just for Scholars
{:.section-heading}

> *“Museums are moving too slowly with technology, and they need to
experiment with online publishing in order to disseminate information
about their collections to the audiences of the future. These museum
audiences are changing and becoming more tech savvy. You’re either with
them or you’re not.”*
>
>—Mimi Gardner Gates, Director Emerita, SAM
>{:.attribution}

Producing content and designing an online catalogue are inseparable from considering one’s audience—or audiences. When the initiative began, the OSCI cohort thought of scholars as their primary—and sometimes the only—audience. Scholars were, historically, among the most frequent users of collection catalogues.

The OSCI museums found ways to engage scholarly audiences in the online environment. SAM and the Freer and Sackler Galleries created special features for registered users, including the ability to assemble personal collections of artworks found in their catalogues. SAM also invites scholars of Chinese painting and calligraphy to join their community and even propose essays for contribution. Readers of their catalogue are also encouraged to post comments and “Questions for Thought,” to stimulate a dialogue with readers.

However, through <span class="popup popup-definition" data-definition='<%= define_term("usability-studies") %>'>*usability studies*</span>, informal user groups, and feedback from beta sites, the OSCI museums found that more general audiences were keenly interested in online resources about their collections. Furthermore, they learned that the online catalogues could be used in teaching at all levels. This awareness led several participating museums to refine the content they provided as well as its presentation.

<blockquote class="video-quote">
  <div class="video">
    <!-- <img src="/assets/images/robin.png" /> -->
    <iframe src="https://www.youtube.com/embed/17SXDmVfb0A?rel=0&amp;showinfo=0;start=294" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quote">
    <p>“forgoing digital publishing is in a sense turning your back on a potentially large audience”</p>
    <p class="attribution">—Judy Metro (NGA)</p>
  </div>  
</blockquote>

NGA followed, for example, what they called the “skim, swim, dive” approach, referring to a way of structuring each catalogue entry so that the reader can choose to read a short synopsis, explore additional information, or dig deeply into scholarly content and comparative material.

<p class="figure" id="skim-swim-dive">
  <img src="/assets/images/illustration_dive.jpg" id="water"/>
  <img src="/assets/images/noun_67220_cc.png" id="submarine" />
  The National Gallery of Art followed a "skim, swim, dive" approach in developing their content.
</p>  

In order to broaden their potential audience, the Walker Art Museum decided to make their catalogue more closely resemble a magazine. As Robin Dowden, former director of new media initiatives at the Walker explained, “Our aim was to take some of the best story-telling innovations from our favorite long-form journalism sites and smartly bring them into the scholarly realm: seductive imagery, rich media, snippets of content that draw you in. Our catalogue is a blend of book and magazine. It meets the expectations of scholarly readers but also reaches out to broader audiences.”

An online catalogue can reach more readers than its printed counterpart. From June to September 2014, the Art Institute of Chicago reached readers in seventy-one countries, while the Walker reported a similarly wide reach, extending to seventy-five countries in its first year after launch.

## Lesson 7: Design Matters
{:.section-heading}

The design parameters for an online catalogue can be much more elastic than those for print. While audiences are accustomed to the experience of reading a book—leafing through its contents and turning pages—the experience of reading online can be more dynamic. The trick is to take advantage of this opportunity without confusing the reader. Most OSCI participants found that it was important to have a designer involved early in the process.

### Keep user navigation in mind

The OSCI museums wanted catalogue designs that would facilitate exploration. Users needed to be able to follow their own path but still be able to return to main sections of the catalogue with ease; for example, whenever readers are “inside” a particular catalogue entry, navigation elements and other signposts should guide them to additional content. Such wayfinding devices are also important given that search engines like Google often direct readers to the interior sections of a catalogue, entirely bypassing the home page, where one would expect to find the digital equivalent of a table of contents.

> supporting illustrations—screenshots of nav elements highlighted and labeled

> VIDEO: make clip showing how citation tool works, show LACMA as an example?

This flexibility, however, produced another problem. If the content of any given “page” might change depending on screen size, how does one generate scholarly citations, which are typically dependent on fixed page numbers? Museums solved this problem by offering readers access to preformatted citations. Individual solutions ranged from a clearly visible “citation” button that provides a link to a full catalogue section to more specialized citation tools that would generate a link to a highlighted section of content, such as a particular paragraph within an essay. In all cases, users are given a <span class="popup popup-definition" data-definition='<%= define_term("permanent-url") %>'>*permanent URL*</span> so they have reassurance about easily locating the desired content.

### Keep the image front and center

The OSCI institutions thought long and hard about how to overcome one of the limitations of the printed catalogue—the constant flipping back and forth to find the image that relates to the text. They created solutions so that the key image in a catalogue entry is always easy to locate and view. The Art Institute of Chicago ensured that throughout each catalogue entry, the work of art is constantly displayed. LACMA created a lightbox feature for each catalogue entry that displays all the images discussed in that essay. The NGA created a tool by which the reader can choose how to view the catalogue; turn on the “reader mode” button and the image will appear beside the relevant text.

> illustrate with video grab or gif

> supporting screenshots and videos

> VIDEO: Gloria—how can you keep the object front and center b/c it is reason you are writing the catalogue 13:53

> Video (long): ARTHUR talking about the irony of how digital brings back connoisseurship and value of close looking at the object 28:39-29:42

### Devices will change

One of the only certainties of digital technology is change—this is equally true for software and hardware. When the OSCI initiative began, Apple’s iPhone had just launched and the tablet computer was not widely available. By the midpoint of the initiative, tablets were emerging as a highly popular means of information delivery. Recognizing these changes, the OSCI museums adapted quickly. One of the key challenges they faced was formatting the catalogue for the differing sizes of browser windows, from cell phone screens to large desktop monitors. <span class="popup popup-definition" data-definition='<%= define_term("responsive-design") %>'>*Responsive design*</span> provided the solution. The [OSCI Toolkit publishing platform](#) used by the Art Institute, the Freer and Sackler Galleries, and LACMA, for example, allows columns of text and accompanying images to reflow depending on the browser window. The Walker’s catalogue also uses responsive design to achieve highly flexible layouts.

> Screenshots or gifs as examples

## Lesson 8: Get the right people and structure in place
{:.section-heading}

> VIDEO: CHAD talking about all the people/skills you need 15:28

### Involve senior staff from the start

Projects that span departments and reach both horizontally and vertically through an institution need institutional leadership. The inclusion of senior staff, either as project team members or advisors, was critical to the success of the OSCI projects, especially in the planning phase when ongoing commitments for budget and staff were required. They also found that the quickest route to acceptance by senior-level museum staff was to ensure that key individuals were kept up to date on the project and its progress.

### Collaboration and communication are essential

> *“Curatorial texts are usually self-contained, but this catalogue integrated online media, comparative images, maps, and video. It led to a different way of interaction for Curatorial, Publications, and the Web and Digital Media groups.”*
>
>—Nancy Thomas, Deputy Director, Art Administration and Collections, LACMA
>{:.attribution}

OSCI participants found that online publishing is more collaborative and less compartmentalized than the creation of a print catalogue. Team members needed a basic understanding of the work being done by others, and on some level everyone needed to grasp the methodology of scholarly research *and* the possibilities of the technology. This had the effect of closely integrating technology staff members, who can be marginalized within museums, into a programmatic initiative. In the most successful projects, curators, technologists, designers, and others worked together from the start. (For more on collaboration see [“Embrace a team approach” ](#) in Lesson 2)

### Projects need managers and leaders

> *“Complicated projects need project management*. *Digital publishing provided the catalyst to integrate these skills more fully into all of the museum’s work, and this change in mindset has been a real gamechanger.”*
>
>—Nancy Micklewright, Head, Public and Scholarly Engagement, Freer and Sackler Galleries
>{:.attribution}

The process for creating an electronic catalogue may be more collaborative than that of a print catalogue; nonetheless, someone has to be in charge. Online publishing projects have a number of moving parts, and the OSCI museums recognized the need for strong project managers and leaders.

The project manager is responsible for achieving the goals and the objectives of the project, and for establishing strong collaboration and communication in the project team. Several of the OSCI museums appointed dedicated project managers for their catalogues. At other museums, those responsibilities fell on existing staff as part of their regular position descriptions.

As the institutional advocate, the project leader needs to ensure that resources are adequate, that the organization remains committed to the vision inherent in the project, and that communication up and down is unimpeded. At smaller institutions, the project leader was also the project manager.

### Identify where new positions, skills, and outsourcing are needed

Online catalogues often require new skills; for example, an editor accustomed to print may not be familiar with editing text in <span class="popup popup-definition" data-definition='<%= define_term("html") %>'>*HTML*</span>. Most OSCI museums revised at least some existing position descriptions and developed new skills in their existing staff. Some museums needed to add positions, mostly in technology or project management. In some cases, technology was outsourced; SAM, for example, worked closely with the technology vendor Gallery Systems to create their online catalogue. (See [Three Models section](#))

SFMOMA and the Freer and Sackler Galleries have made the skills required for project management a priority for their staff. For example, eighty percent of the Freer and Sackler Galleries’ staff has attended project management training, as have much of SFMOMA’s staff, where project management specialists are now a part of many departments.

### Anticipate turnover

Turnover, whether caused by resignation, layoff, or promotion, became a critical issue for the OSCI museums. Almost every team lost a key staff member, either on the content side or on the technical side. Positions on the technical side proved particularly difficult to fill, given that the skills of programmers and developers are in high demand in the for-profit sector.

The cost of replacing staff can be high and staff departures can cause significant project delays. The OSCI partners found, however, that up-to-date project documentation can help shorten the start-up time for new employees. They also found that new staff brought with them fresh perspectives and insights.

### Be prepared to rethink workflow

Online catalogues require new modes of interaction between departments and staff members, as well as new ways in which to sequence work. The typical workflow for a print publication is linear: the book progresses from curatorial research to manuscript, after which it is handed off to editorial and design, advancing to production, and finally on to marketing and sales, with review and input from participants at each stage.

Online publications require an iterative process, which is more circular and repetitive, coming closer to the desired result with each step. Additionally, there are frequently simultaneous workflows across the museum in separate areas, which overlap at various points in the process. Design, for example, is no longer considered only at the point at which the manuscript is complete; rather, it is integrally tied to the way in which the content is conceived and then subsequently organized and published. The types and required resolution of online images must be anticipated at the outset in order to avoid re-photographing works of art to meet new project demands.

### Organizational structures may change

> *“This was a transformational initiative for us. It was not about superimposing something on the institution. It was about changing the way we work.”*
>
>—Robin Dowden, former Director of Technology and New Media Initiatives, Walker Art Center >Organizational structures may change
>{:.attribution}

Many OSCI institutions reorganized to better facilitate cross-departmental work. For example, print publication departments typically don’t interact with the Web group; however, with online publishing, the two departments must work closely together. This caused some OSCI museums to make small changes to their existing structures, while others shattered departmental barriers and created new organizational structures.

At the Art Institute, the Publications Department became the Publishing Department, carrying with it the responsibility for both print and electronic publications, as well as for imaging. At SFMOMA, community engagement, publications, interpretive media, the Web team, and the design studio were all brought together in the Department of Content Strategy and Digital Engagement, headed by the museum’s chief content officer, and reporting to the museum’s deputy director for curatorial affairs.

## Lesson 9: Think Sustainably
{:.section-heading}

> VIDEO: ROBIN about how this changed the way she worked and realizing no finite endpoint with digital publishing 3:34-4:04 and if using, cut quote above for balance

Online catalogues require a different type of long-term planning than a print catalogue. When the printed book is completed, it can be placed on the library shelf and staff can turn to the next project. An online publication must be maintained, which requires both staff time and resources. Curators need to create new catalogue entries to reflect recent acquisitions and existing records must be updated. In addition, museums must review and upgrade technology periodically. This ongoing commitment brings promising possibilities as well as real challenges.

### Not everything needs to be done at once

Online publishing allows museums to adjust a catalogue’s content, design, and information architecture over time. Modules and additional information can be added; revisions can be undertaken. SAM, for example, has added essays to its Chinese scrolls catalogue since its initial publication, and the Freer and Sackler Galleries already have plans for additional material to expand its catalogue. SFMOMA acquired a new work by Rauschenberg since the release of their catalogue and smoothly integrated this new acquisition into the existing publication.

### Be deliberate about version control \[rollover definition\]

The opportunity to add new content must be balanced with scholars’ desire for permanent, citable sources. When scholars refer to catalogues as evidence in their arguments, they want assurance that the cited sources can still be found and remain the same as when the citation was made.

The OSCI museums developed different solutions to this problem. Tate and SFMOMA, on the one hand, date each individual scholarly essay. When new material is added, it will be distinguished from the older material by date. NGA, on the other hand, plans to systematically update their catalogues on a five-year rotation and reissue the updated versions as new editions. Regardless of which approach is chosen, the museums realized it was important to be clear about their policy.

### Consider access and long-term preservation

All the OSCI participants produced born-digital, interactive publications, but many also realized that readers may want to download materials and read them offline. They made this possible by offering various downloadable PDF options, whereby readers can print a hard copy of the catalogue. While these versions of the catalogue may lack some of the original features – videos, for example, cannot be played—they can be easily stored and preserved for future use. Meeting the needs of long-term preservation remains, however, an ongoing challenge. (See [Remaining Challenges section.](#))

> screen shots from SFMOMA, LACMA, or NGA download options, print on demand

### Think pipeline rather than one-off

> *“Sustainability is key to online publishing. Once the initial
investment is made, it makes sense to use the same technology for all
new projects. This can only be done, of course, if the museum develops
templates that are generic rather than bespoke.”*
>
>—Jennifer Mundy, Head of Collections Research, Tate
>{:.attribution}

The OSCI catalogues are part of a fundamental reorientation toward the digital realm in museums, which increasingly impacts almost every aspect of an organization’s work. Technology changes constantly, so museums cannot wait for some “ultimate solution” for digital publishing. Instead, they must develop a digital strategy for their institution with the understanding that it will evolve over time. Online publishing, then, becomes part of a larger framework for how museums integrate technology across the institution and align it with overall mission and goals.

Part of this shift is recognizing that online publications are not one-off boutique projects, but part of building a long-term, sustainable publishing platform. To achieve this goal requires prioritizing online production, committing institutional resources, and devoting sufficient time to planning. Most of the OSCI museums anticipated that future catalogues would be easier and less expensive with an established platform. Although only time will tell, this has already been the case for the OSCI museums that have produced additional catalogues. The Art Institute, for example, has released several online catalogues since the inaugural volumes and reports considerable cost reductions. See [What’s Next](#) and [What Does It Cost?](#)).

### Repurpose content and tools

The OSCI participants discovered that content of their catalogues could be repurposed within the museum and pushed out to other platforms and media. The Art Institute of Chicago and SAM, for example, have used material from their OSCI projects for in-gallery interpretations that accompany exhibitions.

The technological solutions for online publishing can likewise be repurposed. Tate is using the system developed for their OSCI catalogue for its *In Focus* series of shorter online publications dedicated to one or a small group of objects. The Walker Art Center has adapted the text-image tool developed for its catalogue—whereby an author can easily adjust the text and image layout—for general use on its website.
